.list {
    margin-bottom: 30px;

    &__add-button{
      span {
        color: #767676;
        &:hover {
          color: black;
        }
      }

    &__remove-icon {
    }
    }

    li {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px 12px;
      transition: background-color 0.15s ease-in-out;

      span {
        flex: 1;
      }


      &.active {
        background: white;
        box-shadow: 0 3px 10px rgba(0,0,0,0.04);
        border-radius: 4px;
      }

      &:hover {
        background: rgba(255,255,255,0.5);
      }

      i {
      margin-right: 10px;
      }
    }
    
  }